[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
better-widgets = {editable = true, path = "C:/Users/btona/MyGit/BetterTkinterWidgets"}

[dev-packages]

[requires]
python_version = "3.9"
